
<div class="container mt-3 col-d-4 offset-md-4">
    <h2 style="color: red">Search Book</h2>
<input type="search" name="search" id="" style="border-color: green" >
<button type="submit" class="btn-primary ml-2">Search</button>
</div>
<table class="table mt-5">
    <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
